:root {
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --white: #ffffff;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2.5rem;
  --box-shadow-size: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--slate-300);
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  align-content: center;
}

main {
  padding: var(--spacing-300);
  justify-self: center;
}

.qr-code-container {
  background-color: var(--white);
  padding-top: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-left: var(--spacing-200);
  padding-bottom: var(--spacing-400);
  border-radius: var(--spacing-300);
  box-shadow: 0 var(--box-shadow-size) var(--box-shadow-size)
    rgba(0, 0, 0, 0.477);
  text-align: center;
  width: min-content;
}

.qr-code-img {
  width: 18rem;
  aspect-ratio: 1;
  border-radius: 0.625rem;
  display: block;
}

h1 {
  font-size: 1.375rem;
  line-height: 120%;
  letter-spacing: 0rem;
  margin-top: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1rem;
  color: var(--slate-900);
  font-weight: 700;
}

p {
  font-size: 0.938rem;
  line-height: 140%;
  letter-spacing: 0.013rem;
  color: var(--slate-500);
  font-weight: 400;
}
